[class^='icon-'], [class*=' icon-']{
    inline-size: 50px;
    block-size: 50px;
    background-size: cover;
    display: inline-block;
}

.icon-home {
    background-image: url('../iconos/home.svg');
}

.icon-homeActive {
    background-image: url('../iconos/home-active.svg');
}