@import url('./logo.css');
@import url('./list.css');
@import url('./menu.css');

.sidebar{
    background-color: var(--gray60);
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-block-end: 1.5rem;
    padding-block-start: 1.5rem;
}